* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dadbd4;
}

img {
    width: 100%;
    border-radius: 100%;
}


/*classi*/
.single-chat {
    display: flex;
    justify-content: space-between;
    background-color:#eaeaea ;
    border-right: 5px solid #e0e0e0;
}


.user-top {
    width: 70% ;
    height: 70px;
    display: flex;
    align-items: center;
}
.img-container {
    width: 50px;
    min-width: 45px;
    min-height: 45px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right:  10px;
}

.username {
    font-size: 20px;
    margin: 0 10px;
}

.nav-icons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.icons-settings {
    font-size: 17px;
    color: #b1b1b1;
    margin-right: 16px;
    cursor: pointer;
}

.style-message {
    background-color: #f2fbfe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bell-slash {
    color: #8edafc;
}

.background-search-list {
    background-color:#fafafa ;
    padding: 6px;
    position: relative;
}
.background-search-list i {
    color: #b1b1b1 ;
    position: absolute;
    top: 12px;
    left: 10px;
}
.select-chat {
    display: flex;
    padding: 15px;
}

.select-chat:hover {
    background-color:#e9ebeb ;
}

.date{
    float: right;
    font-size: 8px;
    color: #bebfc0 ;
    align-self:  flex-start;
    flex-wrap: nowrap;
}

.last-message {
    overflow:hidden;
    white-space: nowrap;
    max-width: 150px;
    font-size: 14px;
    color:#bebfc0 ;
}
.last-login {
    color: #858c8e;
    font-size: 16px;
}

.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
    margin: 10px 40px;
    border-radius: 10px;
    font-size:16px ;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-flow: column nowrap;
}


.received {
    align-self: flex-start;
    background-color: white;
    margin: 10px 40px;
    border-radius: 10px;
    font-size:16px ;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-flow: column nowrap;
}

.my-message {
    display: flex;
    justify-content: space-between;
}

.fa-chevron-down {
    margin-left: 5px;
    color: #b1b1b1;
    display: none;
    cursor: pointer;
    position: relative;
}

.my-message:hover .fa-chevron-down {
    display: inline ;
}

.message-delete-info {
    width: 100px;
    background-color: white;   
    display: none;
    position: absolute;
    z-index: 1;
}

.message-delete-info li {
    list-style: none;
    padding: 8px 14px;
}
.show{
    display: block;
}
.message-delete-info li:hover {
    background-color: lightgrey;
}
        
.date-time {
    margin-top: 7px;
    font-size: 11px;
    color: #ced0d2 ;
    align-self: flex-end;
}

.active {
    background-color: #e9ebeb;
}

/*fine classi*/

/*id*/
#background-header {
    width: 100%;
    height: 100px;
    background-color:#019588 ;
    position: fixed;
    top: 0;
}

#container {
    display: flex;
    width: 80%;
    height:calc(100vh - 60px) ;
    margin: 30px auto;
    position: relative;
} 


#first-container {
    width: 35%;
    height: 728px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
#message-alert {
    height: 70px;
    padding: 5px;
    font-size: 0.88rem;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}



#search-chat-list {
    width: 100%;
    height: 28px;
    padding: 5px 0 5px 30px;
    
}




#chat {
    overflow-y: scroll;
}



#general-date-informations{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



#single-chat {
    width: 65%;
    min-width: 450px;
    background-image: url(img/mine.jpg);
    background-position: center;
}



#chat {
    height: calc(100% - 120px);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
}


#footer-text {
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

#footer-text i {
    margin: 30px;
    font-size: 20px;
    color: #6a7376;
    cursor: pointer;
}

#footer-text input {
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    border: none;
}

/*fine id*/








